<div layout="row">
    <md-input-container class="md-icon-float" flex>
        <label>{{ acao.Name }} - {{ acao.Symbol }}</label>
        <md-icon md-svg-src="img/svg/arrow-down-bold-circle.svg" ng-show="(acao.Change < 0)" class="down"></md-icon>
        <md-icon md-svg-src="img/svg/arrow-up-bold-circle.svg" ng-show="(acao.Change > 0)" class="up"></md-icon>
        <md-icon md-svg-src="img/svg/minus-circle.svg" ng-show="(acao.Change == 0)" class="static"></md-icon>
        <input ng-model="acao.LastTradePriceOnly" readonly type="text"> 
    </md-input-container>
</div>
