<md-toolbar layout="row" md-scroll-shrink>
    <div class="md-toolbar-tools">
        <!--<md-button title="Abrir Menu" class="md-icon-button launch" aria-label="OpenMenu" ng-click="toggleLeftMenu()">
            <md-icon md-svg-icon="img/svg/menu.svg"></md-icon>
        </md-button>-->
        <h2>
            <span>Cota&ccedil;&atilde;o de a&ccedil;&otilde;es</span>
        </h2> 
        <span flex></span>  
        <!--<md-input-container class="md-icon-float search" flex>
            <label>Procurar</label>
            <md-icon md-svg-src="img/svg/magnify.svg"></md-icon>
            <input type="text"> 
        </md-input-container>-->    
       
        <md-button title="Exportar para CSV" class="md-icon-button launch" aria-label="Export" ng-click="cotacaoCtrl.ExportToCsv()">
            <md-icon md-svg-icon="img/svg/content-save.svg"></md-icon>
        </md-button>
        <md-button title="Sobre" class="md-icon-button launch" aria-label="Sobre" ng-href="mailto:pedro.osternack@ostsolucoes.com.br">
            <md-icon md-svg-icon="img/svg/information.svg"></md-icon>
        </md-button> 
        <md-button title="Contato" class="md-icon-button launch" aria-label="Contato" ng-href="mailto:pedro.osternack@ostsolucoes.com.br">
            <md-icon md-svg-icon="img/svg/email.svg"></md-icon>
        </md-button> 
    </div>
</md-toolbar>